.countdetail{
	/* border: 1px solid #000000; */
	height: 800px;
	width: 100%;
	margin: 0 auto;
	margin-top: 100px;
}
.Xcontent28,.Xcontent29{
	text-align: center;
	line-height: 52px;
}
.Xcontent29{
	background-color: #000000;
	color: #FFFFFF;
}
.Xcontent06 img{
	width: 100%;
	height: 100%;
}